@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
}
header img{
    height: 100px!important;
    border-radius: 50%;
}
.card-p{
    font-size: 0.9rem;
}
.card-title{
    line-height: 1.9rem!important;
    font-size: 1.5rem;
}
#option .card h5{
    font-weight: 1.7rem;
    font-weight: 600;
}
#option a{
    letter-spacing: .01785714em;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #1a73e8!important;
    text-decoration: none;
}
#option .card-body{
    min-height: 210px;
}
.mresp{
    margin-bottom: 10px;
}
.border-r{
    border-radius: 12px;
}